body{
    margin: 0px;
    background-color: #DEE2E6;
    }
nav, nav ol li a{
    background-color: #012A4A;
    padding: 0px 20px;
    color: #DEE2E6;
    justify-content: space-between;
    align-items: center;
}
nav, ol{
    display: flex;
    flex-direction: row;
}
ol{
    list-style: none;
    padding: 0px;
    height: 0px;
    overflow: hidden;
}
ol li{
    padding: 0px 20px;
    font-size: 30px;
}
ol li a:hover, button:hover{
    cursor: pointer;
    opacity: 0.8;
}
button{
    background-color: transparent;
    border: none;
    color: #DEE2E6;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
}
button:focus ~ ol{
    height: fit-content;
}
@media (max-width: 700px) {
    nav, nav ol{
        flex-direction: column;
        align-items: unset;

    }
    ol{
        text-align: center;
    }
}

